# Let's remove these from commits

*.backup1
*.backup2
*.backup3
*.bak
*.dbprefab
*.dbs
*.rar
*.zip

# Let's exclude these folders / subfolders from commits

maps/backup/**/*
maps/pfbs/**/*
maps/udmf/**/*
models/h2/wip/**/*
models/jk3/wip/**/*
models/q1/wip/**/*
models/q2/wip/**/*
models/x2/wip/**/*
